<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>Datapool Manager</h1>
                <h3>Tool agnostic load test data management</h3>
                <hr>
                <form action="/createdatapool" method="GET">
                    <button class="btn btn-default btn-lg"> Set up your datapool!</button>
                </form>
            </div>
        </div>
    </div>
</div>